#########
# Conf du serveur
#########
# ie : https://stagetrek.XXX.fr
SERVER_URL=
# ie : stagetrek.XXX.fr
URI_HOST=
URI_SCHEMA="https"
# ie : https://stagetrek.XXX.fr
STAGETREK_INSTANCE_URL=

##########
# Type d'environnement de déploiement
# Valeur attendu possible : "development", "test", "" (=production), "test". Default : "test"
# Si CONSOLE_ENV n'est pas définie, on utilise APPLICATION_ENV
# !!! Si non définie, on est par défaut en développement
##########
APPLICATION_ENV="test"
CONSOLE_ENV="test"
# Maintenance a true pour rendre inacessible l'appli
# Maintenance_CLI a true pour désactivé aussi les actions console
MAINTENACE_ACTIVE="false"
MAINTENACE_CLI_ACTIVE="false"

#########
## AUTHENTIFICATION
# Type d'authentification (ldap, cas, shib, db)
#########
AUTH_SERVICE="shib"
DEFAULT_USERS=
USURPATION_ALLOWED=

#########
# LDAP
#########
LDAP_VERSION=
LDAP_REPLICA_HOST=
LDAP_REPLICA_PORT=
LDAP_REPLICA_USERNAME=
LDAP_REPLICA_PASSWORD=
LDAP_BASE_DN=
LDAP_BRANCH_PEOPLE=

#########
# CAS
########
CAS_HOST=
CAS_PORT=
CAS_VERSION=

#########
# SHIB
#########

#########
# PROXY
#########
PROXY_HOST=
PROXY_PORT=
PROXY_URL=

#########
# BDD
#########
#DATABASE_HOST=
#DATABASE_NAME=
#DATABASE_PORT=
#DATABASE_USER=
#DATABASE_PSWD=

#########
# BDD-ADMIN
# Pour les mise à jours
#########
BDD_ADMIN_DIR=

#########
# Referentiel Etudiant
#########
#Données nessaire à l'import d'étudiant depuis un référentiel
# Pour l'utiliser, il faut fournir une API qui prend en paramètre POST un code correspondant au code de la promo (parparamètreamétre à définir dans le référentiel de promo
# Le token de validation n'est pas obligatoire, mais s'il est fournis, on suppose  que l'URL sera de la forme https://url/XXXX-XXXX?code=XXX
# Code source du référentiel (doit être configuré dans la liste des sources)
# LES REF_ETUDIANT_DATA_X permettent de définir les champs renvoyé par le JSON
# Si non définie, on prend les valeurs par défaut suivante : num_etu, nom, prenom, email, date_naissance
# (Note : les adresses ne sont pas géré pour le momment)
# Les champs obligatoire qui doivent être fournis par le JSON sont num_etu, nom, prenom, email
REF_ETUDIANT_SOURCE_CODE =
REF_ETUDIANT_API_URL =
REF_ETUDIANT_API_TOKEN =
REF_ETUDIANT_DATA_NUM_ETU =
REF_ETUDIANT_DATA_NOM =
REF_ETUDIANT_DATA_PRENOM =
REF_ETUDIANT_DATA_EMAIL =
REF_ETUDIANT_DATA_DATE_NAISSANCE =

#########
# Mails
#########
MAIL_SMTP=
MAIL_PORT=
# Sont données ici des valeurs recommandé
MAIL_SUBJECT_PREFIX="StageTrek"
MAIL_FROM_NAME="StageTrek"
MAIL_FROM_EMAIL="ne-pas-repondre@XXX.fr"

# TRUE = les mails ne sont pas envoyé (même avec une redirection)
MAIL_DO_NOT_SEND="true"
# TRUE = les mails sont redirigé vers le destinataire donnée aprés
MAIL_REDIRECT="true"
MAIL_REDIRECT_TO=""

#########
# Console
##########
CONSOLE_REPORT_TO=""

#########
# Conventions de stages
#########
# Valeur attendu : local  ou s3
STORAGE_TYPE="local"
# Pour du stockage local
LOCAL_FILE_STORAGE = "/tmp"
# Pour la cong en S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
AWS_ENDPOINT=
AWS_DEFAULT_REGION=
AWS_VERSION=
AWS_PROFILE=
AWS_SHARED_CREDENTIALS_FILE=
