@charset "UTF-8";
/** Scrollup pour remonter dans les pages de grandes tailles */
.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;
}

/** Class hidden redéfinie car n'existe pas en BS-5 */
.hidden {
  display: none;
}

/** Modal **/
.modal .modal-dialog {
  max-width: 75%;
}
.modal .page-header {
  display: none;
}

.modal-footer {
  display: none;
}

/** Lien désactivé **/
a.disabled {
  cursor: not-allowed;
}

.unistrap.unistrap-th-stagetrek {
  --unistrap-color-main: rgb(0, 50, 100);
  --unistrap-color-dark: rgb(0, 50, 100);
  --unistrap-color-table: rgba(0, 50, 100, 0.8);
  --unistrap-color-light: Beige;
  --bs-link-color: rgba(6, 68, 184, 0.75);
  --bs-success: rgb(95, 160, 66);
  --bs-success-rgb: 95, 160, 66;
  --bs-danger: rgb(200, 0, 0);
  --bs-danger-rgb: 200, 0, 0;
  --bs-info: rgb(0, 0, 100);
  --bs-info-rgb: 0, 0, 255;
  --bs-warning: rgb(255, 165, 0);
  --bs-warning-rgb: 255, 165, 0;
  --bs-primary: #3381C5;
  --bs-primary-rgb: 51, 129, 197;
  --bs-secondary: #6c757d;
  --bs-secondary-rgb: 108, 117, 125;
}
.unistrap.unistrap-th-stagetrek.unistrap-env-development {
  --unistrap-color-main:	rgb(30, 102, 47);
  --unistrap-color-dark:	rgb(30, 102, 47);
  --unistrap-color-table:	rgba(30, 102, 47, 0.6);
}
.unistrap.unistrap-th-stagetrek.unistrap-env-test {
  --unistrap-color-main:	rgb(0, 0, 0);
  --unistrap-color-dark:	rgb(0, 0, 0);
  --unistrap-color-table: rgba(0, 0, 0, 0.6);
}

.unistrap-th-stagetrek table thead tr th {
  background-color: var(--unistrap-color-table);
  color: #FFF;
}

.unistrap .tab-content > .tab-pane {
  border: 1px solid #e4e4e4;
  padding: 0;
}

.unistrap .navbar.navbar-main li.dropdown-item {
  margin-top: 0;
}

dt,
dd {
  font-size: large;
}

#row-in-index-application {
  align-items: center;
}

.page {
  margin: 10px;
}

.row {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.headTitle, .title-tinked-target {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid var(--unistrap-color-main);
  padding: 10px;
  background-color: var(--unistrap-color-main);
  color: white;
  margin-bottom: 10px;
}

.modal .headTitle, .modal .btn-back-close {
  display: none;
}

.modal-header .btn-close {
  background-color: aliceblue;
}

.modal-header {
  background-color: var(--unistrap-color-main);
  color: white;
}

.actions a {
  text-decoration: none;
  text-align: center;
}

.actions a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.card-header {
  background-color: var(--unistrap-color-table);
  font-weight: bold;
  color: white;
}
.card-header:not(h1) {
  font-size: large;
}
.card-header .card-header-tabs .nav-link:not(.active) {
  color: white;
}

.card.card-primary {
  border: 1px solid var(--unistrap-color-table);
}
.card.card-primary > .card-header {
  background-color: var(--unistrap-color-table);
}

.card.card-secondray {
  border: 1px solid var(--bs-secondary);
}
.card.card-secondray > .card-header {
  background-color: var(--bs-secondary);
}

.card.card-success {
  border: 1px solid var(--bs-success);
}
.card.card-success > .card-header {
  background-color: var(--bs-success);
}

.card.card-info {
  border: 1px solid var(--bs-info);
}
.card.card-info > .card-header {
  background-color: var(--bs-info);
}

.card.card-warning {
  border: 1px solid var(--bs-warning);
}
.card.card-warning > .card-header {
  background-color: var(--bs-warning);
}

.card.card-danger {
  border: 1px solid var(--bs-danger);
}
.card.card-danger > .card-header {
  background-color: var(--bs-danger);
}

.card.card-muted {
  border: 1px solid darkgray;
}
.card.card-muted > .card-header {
  background-color: darkgray;
}
.card.card-muted > .card-body {
  background-color: whitesmoke;
}

.card .card-header.card-sub-header {
  background-color: var(--bs-card-cap-bg);
}

.modal .btn-back {
  display: none;
}

/** badge des demandes de terrains en fonction des déciles */
.badge.bnd {
  color: black;
}
.badge.bnd.bnd-na {
  color: white;
  font-size: 12px !important;
  background-color: rgba(var(--bs-danger-rgb));
}
.badge.bnd.bnd-ferme {
  color: #f8f9fa;
  background-color: #6c757d;
}
.badge.bnd.bnd-0 {
  color: #f8f9fa;
  background-color: rgba(var(--bs-success-rgb));
}
.badge.bnd.bnd-1 {
  --bs-bg-opacity: 0.5;
  background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
}
.badge.bnd.bnd-2 {
  --bs-bg-opacity: 0.25;
  background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
}
.badge.bnd.bnd-3 {
  --bs-bg-opacity: 0.5;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;
}
.badge.bnd.bnd-4 {
  --bs-bg-opacity: 0.25;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;
}
.badge.bnd.bnd-5 {
  color: #f8f9fa;
  --bs-bg-opacity: 0.5;
  background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
}
.badge.bnd.bnd-6 {
  --bs-bg-opacity: 0.25;
  background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
}
.badge.bnd.bnd-7 {
  --bs-bg-opacity: 0.5;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}
.badge.bnd.bnd-8 {
  --bs-bg-opacity: 0.25;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}
.badge.bnd.bnd-9 {
  --bs-bg-opacity: 0.25;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}
.badge.bnd.bnd-10 {
  --bs-bg-opacity: 0.5;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}

/*# sourceMappingURL=app.css.map */
